#about {
  #personal-info {
    i {
      color: var(--primary);
    }
  }
  #about-description {
    white-space: pre-wrap;
  }
  #about-wrapper {
    display: flex;
    @media (min-width: $md) {
      flex-direction: row;
    }
    @media (max-width: $max-md) {
      flex-direction: column-reverse;
    }
  }
  #info-image-container {
    max-width: 350px;
    margin: 3rem 0;
    img {
      border-radius: 50%;
      padding-right: 50px;
      margin-left: 25px;
    }
  }
  #info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
