@keyframes up_and_down {
  0%,
  100% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0);
  }
}

@keyframes rotate3d_gradient {
  from,
  to {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.animate-up-and-down {
  animation: up_and_down 1s infinite ease-in-out;
}

.rotate3d_gradient {
  animation: rotate3d_gradient 4s infinite ease-in-out;
}
