/* GENERAL BUTTONS*/

.btn {
  min-width: 100px;
  max-width: 180px;
}
/* NAVBAR */

.btn-opt {
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  width: 45px;
  padding: 10px 0;
  background-color: var(--bg-primary);
  align-content: center;
  &:active {
    background-color: var(--bg-secondary);
    transition: 0.2s;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--btn-label);
  font-weight: bold;
  outline-color: var(--primary) !important;
  border-color: var(--primary) !important;
  &:hover,
  &:focus {
    background-color: var(--primary-dark) !important;
  }
  &:active {
    background-color: var(--primary-darker) !important;
  }
}

.btn-outline-primary {
  background-color: var(--bg-primary);
  color: var(--primary);
  font-weight: bold;
  outline-color: var(--primary);
  border-color: var(--primary);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
