/*===== GENERAL COLORS (LIGHT DEFAULT) =====*/

/*LIGHT*/
$hue-primary-light: 271;
$hue-secondary-light: 290;

/*DARK*/
$hue-primary-dark: 36;
$hue-secondary-dark: 55;
$hue-bg-primary-dark: 234;
$hue-bg-secondary-dark: 234;

/*===== SIZES =====*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$max-sm: 575px;
$max-md: 767px;
$max-lg: 991px;
$max-xl: 1999px;
