.home {
  background-color: var(--bg-secondary) !important;
  @media (max-width: $max-lg) {
    height: calc(100vh - 70px);
    padding: 85px 0;
    text-align: center;
    .col-lg-4 {
      padding: 1rem 1rem;
    }
  }
  @media (max-width: $max-sm) {
    padding-top: 0;
    padding-bottom: 85px;
  }
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 0;
  transition: 0s !important;
}

#cube-img {
  @media (max-width: $max-md) {
    height: 190px;
  }
}

.home-buttons-container {
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 5px;
  }
}

#home-greeting {
  color: var(--text-dark);
}

#expanded-circle {
  transition: none !important;
  background-color: var(--primary);
  --diameter: 95vw;
  left: calc((100vw - var(--diameter)) / 2);
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  position: absolute;

  @media (min-width: $md) {
    bottom: calc((-1 * var(--diameter) + 6vw) + 70px);
  }
  @media (min-width: $lg) {
    bottom: calc(-1 * var(--diameter) + 10vw);
  }
  @media (max-width: $max-md) {
    bottom: calc((-1 * var(--diameter) + 8vw) + 70px);
  }
  transform: scale(1);
}
