@keyframes up_and_down {
  0%,
  100% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0);
  }
}

.social-media-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 1rem (15 + 100%/12);
  a {
    transition: 0.2s;
  }
  a:hover {
    transform: scale(1.4) !important;
  }
}

.theme-icon {
  color: var(--primary);
}

.social-media-icon {
  text-align: center;
}

.animate-up-and-down {
  animation: up_and_down 1s infinite ease-in-out;
}
