a {
  color: var(--primary);
  font-weight: bold;
  font-family: Poppins;
  i {
    margin-right: 0.5rem;
  }
}

a:hover {
  text-decoration: none;
  color: var(--primary-dark);
  transition: 0.2s;
}
