.quote-container {
  height: 100px;
  display: flex;
  @media (min-width: $lg) {
    align-items: center;
  }
  @media (max-width: $max-lg) {
    align-items: flex-start;
  }
  @media (max-width: $max-md) {
    .row .col blockquote {
      text-align: center;
    }
  }
  padding-bottom: 140px;
  justify-content: center;
  position: relative;
  margin: 0;
  background-color: var(--bg-primary);
}
.quote-author-container {
  display: flex;
  @media (min-width: $lg) {
    justify-content: flex-end;
    img {
      padding: 0;
    }
  }
  @media (max-width: $max-lg) {
    justify-content: center;
  }
}

.quote-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 700px !important;
  margin: auto;
}
.quote-phrase {
  color: var(--text-dark);
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
}

#quote-author-name {
  color: var(--primary);
}

#quote-author-img {
  filter: grayscale(1) brightness(1.2);
  border-radius: 50%;
  transition: 0.2s;
  max-width: 250px;
  padding: 0 50px;
  padding-right: 0;
  &:hover {
    transition: 0.2s;
    border-radius: 0;
    filter: grayscale(0) brightness(1);
  }
  @media (max-width: $max-lg) {
    margin-right: 50px;
  }
}
