.general-section-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  background-color: var(--bg-primary);
  transition: 0.4s;
}
