.general-section-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  background-color: var(--bg-primary);
  h2,
  h4 {
    color: var(--text-dark);
  }
  h1,
  h3 {
    color: var(--primary);
  }
  p {
    color: var(--text-light);
  }
  a {
    color: var(--primary);
  }
  transition: 0.4s;
}
