.general-section-container {
  // height: calc(100vh - 70px);
  // @media (min-width: $lg) {
  min-height: 100vh;
  // }

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
}
