@import "assets/general_styles/_config.scss";
@import "assets/general_styles/fontawesome/fontawesome.scss";
@import "assets/general_styles/fontawesome/brands.scss";
@import "assets/general_styles/fontawesome/regular.scss";
@import "assets/general_styles/fontawesome/solid.scss";
@import "assets/general_styles/_themes.scss";
@import "assets/general_styles/_icons.scss";
@import "assets/general_styles/_buttons.scss";
@import "assets/general_styles/_headers.scss";
@import "assets/general_styles/_home.scss";
@import "assets/general_styles/_scroll-bar.scss";
@import "assets/general_styles/_selection.scss";
@import "assets/general_styles/_links.scss";
@import "assets/general_styles/_paragraphs.scss";
@import "assets/general_styles/_footer.scss";
@import "app/components/FloatingButton/floating-button";
@import "app/components/LoadingScreen/loading-screen";
@import "app/components/Navbar/navbar";
@import "app/components/GeneralSection/general-section";
@import "app/components/GoBackTopBtn/go-top";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  font-family: "Open Sans";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-height: 675px) {
    font-size: 90% !important;
  }
}
